# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [2]:
# CODE HERE
s=set()
s

set()

In [3]:
s={1,2,'hub','innomatics'}
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [5]:
s={1,2,'hub','innomatics'}
s

{1, 2, 'hub', 'innomatics'}

In [7]:
s.add('Technology')
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [ ]:
# CODE HERE

In [8]:
sc={3,4,'hub','technology'}
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [12]:
sc={3,4,'Technology','hub'}
s

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [11]:
# CODE HERE
s={1,2,'innomatics'}
s

{1, 2, 'innomatics'}

In [14]:
sc={1,2,'innomatics'}
s

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [15]:
s={1,2,'Technology','hub','innomatics'}

{1, 2, 'Technology', 'hub', 'innomatics'}

In [20]:
# CODE HERE
s.pop()
s

set()

In [17]:
s.remove(2)

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [12]:
# CODE HERE
s={'technology'}
sc={'hub'}
s

{'technology'}

In [13]:
sc

{'hub'}

In [14]:
s&sc

set()

In [18]:
s={'Technology','hub'}
s

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [28]:
s={1,3,4}
s

{1, 3, 4}

In [29]:
sc={'technolgy'}
s

{1, 3, 4}

In [30]:
sc|s

{1, 3, 4, 'technolgy'}

In [20]:
s={1,3,4,'Technology','hub','innomatic'}
s

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [36]:
# CODE HERE
s="apple","kiwi","orange"
s

('apple', 'kiwi', 'orange')

In [37]:
fruits='green',
s

('apple', 'kiwi', 'orange')

In [2]:
fruits='green','red'
s

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [38]:
# CODE HERE
s={10,20,30,40,50}
s

{10, 20, 30, 40, 50}

In [4]:
s.remove(10,20,30)

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)